#hero {
    background-image: url("./../../../res/img/hero.jpeg");
    background-size: cover;
    background-position: center;
    height: 750px;
    padding: 40px;
}
#hero .title h2 {
    font-size: 40px;
}
#hero .title h3 {
    font-size: 35px;
}
#hero  .title{
    margin-top: 420px;
    color: rgb(58, 55, 55);
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255); 
}
